In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("newdataset.csv")
df

,math_score,reading_score,writing_score,placement_score,club_join_score,placement_offer_count
0,62,84,77,81,2018,NaN
1,75,75,67,75,2020,NaN
2,64,80,75,86,2019,NaN
3,67,86,63,90,2019,NaN
4,80,80,61,75,2019,NaN
5,67,75,74,92,2021,NaN
6,75,86,62,90,2020,NaN
7,60,84,61,88,2020,NaN
8,71,77,66,93,2021,NaN
9,60,77,64,100,2018,NaN
10,67,75,80,100,2018,NaN
11,75,76,73,90,2018,NaN
12,63,79,68,92,2018,NaN
13,76,88,77,82,2018,NaN
14,67,75,71,84,2021,NaN
15,66,88,60,95,2020,NaN
16,69,78,79,83,2018,NaN
17,73,80,69,90,2018,NaN
18,73,83,75,89,2020,NaN
19,77,83,63,77,2021,NaN
20,67,88,76,86,2020,NaN
21,61,90,69,75,2018,NaN
22,62,77,71,80,2018,NaN
23,69,86,77,97,2020,NaN
24,67,84,63,95,2019,NaN
25,69,86,71,92,2020,NaN
26,67,76,69,88,2020,NaN
27,70,78,80,92,2020,NaN
28,67,90,78,81,2021,NaN
29,74,79,60,100,2018,NaN